<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta property='og:title' content='Hidden Gems' />
    <meta property='og:description' content='See what parts of your data are most significant using automated machine learning with Hidden Gems!' />
    <meta property='og:image' content='https://hiddengems.azurewebsites.net/HiddenGemsLogo.png' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hidden Gems</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/workflow.js" asp-append-version="true"></script>
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
